@model Foosball.Models.Match

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeamBlack)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamBlack.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeamGrey)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamGrey.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
